$color_white: #ffffff;
$gray-thin: #f0eeeb;
$font-family: "Roboto", "Arial", sans-serif;
$gray-light: #989691;
$gray-40: #f5f4f2;
$gray-100: #e7e4de;
$gray-300: #b2b0ab;
$gray-dark: #383736;
$success-color: #64b851;
$success-bg: #f2faf0;
$warning-color: #eb4b51;
$warning-bg: #faf0f0;
$attention-color: #2794db;

$primary-color: #fac62d;
$primary-color700: #f0b505;
$primary-color800: #e1ab08;
